@font-face {
    font-family: 'Ubuntu';
    src: url('./Font/Ubuntu-Regular.ttf');
}

h1 {
    font-size: 30px;
    font-family: 'Ubuntu';
    text-align: center;
    margin-bottom: 20px;
    color: green;
}

label {
    font-family: 'Ubuntu';
    font-size: 18px;
}

input {
    font-size: 25px;
    height: 45px;
    width: 350px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 18px;
    box-shadow: 0 0 5px rgba(19, 116, 196, 0.1);
    transition: border-color 0.3s;
    background-color:silver;
    margin-bottom: 20px;
    width: 95%;
    height: 35px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    background-color:aliceblue;
    border-color: black;
    outline: none;
}
input[type="radio"]{
    width: 50px;
    height: 25px;
}
input[type="radio"]:hover{
    transform: scale(1.2);
}

input[type="checkbox"]{
    width: 30px;
    height: 40px;
}
input[type="checkbox"]:hover{
    transform: scale(1.2);
}

input[type="submit"] {
    width: 100px;
    background-color: rgb(138, 0, 252);
    color: white;
    border: 0;
    transition: 0.75s;
    border-radius: 10px;
}

input[type="submit"]:hover {
    width: 160px;
    background-color: rgb(241, 16, 211);
    color: white;
    border: 0;
    border-radius: 10px;
}

input[type="reset"] {
    width: 100px;
    background-color:blue;
    color: white;
    border: 0;
    transition: 0.75s;
    border-radius: 10px;
}

input[type="reset"]:hover {
    width: 160px;
    background-color:blue;
    color: white;
    border: 0;
    border-radius: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: rgb(27, 249, 11);
}

form {
    width: 500px;
    height: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6 6 10px rgba(228, 231, 229, 0.1);
    background-color:aliceblue;
}